In [8]:
import pymongo
from pymongo import MongoClient

In [9]:
client = MongoClient()

In [10]:
db = client.test

In [17]:
employee = db.employee

In [12]:
client.list_database_names()

['admin', 'config', 'local']

In [14]:
#if there are multiple databases u can check only 
dblist = client.list_database_names()
if 'test' in dblist:
    print('The {} exists.'.format('test'))

In [18]:
db.list_collection_names()

[]

In [19]:
coll_list = db.list_collection_names()
if 'employee' in coll_list:
    print('The employee exists.')

In [22]:
employee_details = {
    'Name':'Raj Kumar',
    'Address': 'Sears Street,NZ',
    'Age': '43'
}
result = employee.insert_one(employee_details)

In [23]:
db.list_collection_names()

['employee']

In [26]:
print(result.inserted_id)

65af08996060072f6697f783

In [28]:
list_emp = [{"_id":1,"name":"John","address":"Highway 37"},
          {"_id":2,"name":"Peter","address":"Lowstreet 27"},
          {"_id":3,"name":"Amy","address":"Close st 652"},
          {"_id":4,"name":"Hannah","address":"Mountain 21"},
          {"_id":5,"name":"Michael","address":"Valley 345"},
          {"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":9,"name": "Viola", "address": "Sideway Ave"}]

In [29]:
res = employee.insert_many(list_emp)

In [31]:
print(res.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
x = employee.find_one()
print(x)

{'_id': ObjectId('65af08996060072f6697f783'), 'Name': 'Raj Kumar', 'Address': 'Sears Street,NZ', 'Age': '43'}

In [44]:
for x in employee.find():
    print(x)

{'_id': ObjectId('65af08996060072f6697f783'), 'Name': 'Raj Kumar', 'Address': 'Sears Street,NZ', 'Age': '43'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [41]:
for x in employee.find().limit(5):
    print(x)

{'_id': ObjectId('65af08996060072f6697f783'), 'Name': 'Raj Kumar', 'Address': 'Sears Street,NZ', 'Age': '43'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

In [42]:
type(employee.find())

pymongo.cursor.Cursor

In [47]:
for x in employee.find({},{'Age':1}):
    print(x)

{'_id': ObjectId('65af08996060072f6697f783'), 'Age': '43'}
{'_id': 1}
{'_id': 2}
{'_id': 3}
{'_id': 4}
{'_id': 5}
{'_id': 6}
{'_id': 7}
{'_id': 8}
{'_id': 9}

In [50]:
myquery  = {'address':'Highway 37'}
mydoc = employee.find(myquery).limit(5)
for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

In [53]:
query1 = {'address': {'$regex':'^M'}}
mydoc1 = employee.find(query1)

for x in mydoc1:
    print(x)

{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

In [60]:
query2 = {'address': {'$regex':'[Vv]'}}
mydoc2 = employee.find(query2)

for x in mydoc2:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [62]:
query3 = {'$or' :[{'address': {'$regex':'a'}},{'address': {'$regex':'b'}}]}
mydoc3 = employee.find(query3)

for x in mydoc3:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [64]:
query_3 = {'address': {'$regex':'a|b'}}
mydoc_3 = employee.find(query_3)

for x in mydoc_3:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [70]:
query3 = {'$and' :[{'address': {'$regex':'^Y'}},{'address': {'$regex':'1'}}]}
mydoc3 = employee.find(query3)

for x in mydoc3:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [71]:
query_3 = {'address': {'$regex':'^Y'}}
mydoc_3 = employee.find(query_3)

for x in mydoc_3:
    print(x)

In [74]:
query3 = {'$and' :[{'address': {'$regex':'^Y'}},{'address': {'$regex':'1'}},{'name':{'$ne':'Nancy'}}]}
mydoc3 = employee.find(query3)

for x in mydoc3:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}

In [79]:
query3 = {'address': {'$gt':'S'}}
mydoc3 = employee.find(query3)

for x in mydoc3:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [81]:
mydoc_4 = employee.find().sort('name')
for x in mydoc_4:
    print(x)

{'_id': ObjectId('65af08996060072f6697f783'), 'Name': 'Raj Kumar', 'Address': 'Sears Street,NZ', 'Age': '43'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [85]:
where = {'address':'Valley 345'}
set = {'address':'Pokhara 234'}
for x in employee.find(where):
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

In [86]:
employee.update_one(myquery,{'$set': set})

for x in employee.find():
    print(x)

{'_id': ObjectId('65af08996060072f6697f783'), 'Name': 'Raj Kumar', 'Address': 'Sears Street,NZ', 'Age': '43'}
{'_id': 1, 'name': 'John', 'address': 'Pokhara 234'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [87]:
where_mul = {'address':{'$regex':'^Y'}}
set = {'$set':{'address':'Kathmandu 564'}}

x = employee.update_many(where_mul,set)
print(x.modified_count,'document updated')

3 document updated

In [88]:

for x in employee.find():
    print(x)

{'_id': ObjectId('65af08996060072f6697f783'), 'Name': 'Raj Kumar', 'Address': 'Sears Street,NZ', 'Age': '43'}
{'_id': 1, 'name': 'John', 'address': 'Pokhara 234'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Kathmandu 564'}
{'_id': 7, 'name': 'Nicky', 'address': 'Kathmandu 564'}
{'_id': 8, 'name': 'Nancy', 'address': 'Kathmandu 564'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [89]:
db.employee.delete_one({'Age':'43'})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [90]:
del_where = {'address':'Mountain 21'}
x = employee.delete_one(del_where)
print(x.deleted_count,'documents deleted!')

1 documents deleted!

In [91]:
del_where = {'address':'Kathmandu 564'}
x = employee.delete_many(del_where)
print(x.deleted_count,'documents deleted!')

3 documents deleted!

In [92]:
# To delete everything from the collection
x = employee.delete_many({})
print(x.deleted_count,'documents deleted!')

5 documents deleted!

In [94]:
#To drop the collection
employee.drop()